{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="card-body position-relative">
    <h5>Order Details: #2737</h5>
    <p class="fs--1">April 21, 2019, 5:33 PM</p>
    <div><strong class="me-2">Status: </strong>
        <div class="badge rounded-pill badge-soft-success fs--2">Completed
            <svg class="svg-inline--fa fa-check fa-w-16 ms-1" data-fa-transform="shrink-2" aria-hidden="true"
                 focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 512 512" data-fa-i2svg="" style="transform-origin: 0.5em 0.5em;">
                <g transform="translate(256 256)">
                    <g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)">
                        <path fill="currentColor"
                              d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                              transform="translate(-256 -256)"></path>
                    </g>
                </g>
            </svg>
            <!-- <span class="fas fa-check ms-1" data-fa-transform="shrink-2"></span> Font Awesome fontawesome.com -->
        </div>
    </div>
</div>

<div class="card-body position-relative">
    <h5>Order Details: #2737</h5>
    <p class="fs--1">April 21, 2019, 5:33 PM</p>
    <div><strong class="me-2">Status: </strong>
        <div class="badge rounded-pill badge-soft-success fs--2">Completed
            <svg class="svg-inline--fa fa-check fa-w-16 ms-1" data-fa-transform="shrink-2" aria-hidden="true"
                 focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 512 512" data-fa-i2svg="" style="transform-origin: 0.5em 0.5em;">
                <g transform="translate(256 256)">
                    <g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)">
                        <path fill="currentColor"
                              d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                              transform="translate(-256 -256)"></path>
                    </g>
                </g>
            </svg>
            <!-- <span class="fas fa-check ms-1" data-fa-transform="shrink-2"></span> Font Awesome fontawesome.com -->
        </div>
    </div>
</div>

<div class="card-body">
    <div class="table-responsive fs--1">
        <table class="table table-striped border-bottom">
            <thead class="bg-200 text-900">
            <tr>
                <th class="border-0">Products</th>
                <th class="border-0 text-center">Quantity</th>
                <th class="border-0 text-end">Rate</th>
                <th class="border-0 text-end">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr class="border-200">
                <td class="align-middle">
                    <h6 class="mb-0 text-nowrap">Platinum web hosting package9</h6>
                    <p class="mb-0">Down 35mb, Up 100mb</p>
                </td>
                <td class="align-middle text-center">2</td>
                <td class="align-middle text-end">$65.00</td>
                <td class="align-middle text-end">$130.00</td>
            </tr>
            <tr class="border-200">
                <td class="align-middle">
                    <h6 class="mb-0 text-nowrap">2 Page website design</h6>
                    <p class="mb-0">Includes basic wireframes and responsive templates</p>
                </td>
                <td class="align-middle text-center">1</td>
                <td class="align-middle text-end">$2,100.00</td>
                <td class="align-middle text-end">$2,100.00</td>
            </tr>
            <tr>
                <td class="align-middle">
                    <h6 class="mb-0 text-nowrap">Mobile App Development</h6>
                    <p class="mb-0">Includes responsive navigation</p>
                </td>
                <td class="align-middle text-center">8</td>
                <td class="align-middle text-end">$5,00.00</td>
                <td class="align-middle text-end">$4,000.00</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row g-0 justify-content-end">
        <div class="col-auto">
            <table class="table table-sm table-borderless fs--1 text-end">
                <tbody>
                <tr>
                    <th class="text-900">Subtotal:</th>
                    <td class="fw-semi-bold">$6,230.00</td>
                </tr>
                <tr>
                    <th class="text-900">Tax 5%:</th>
                    <td class="fw-semi-bold">$311.50</td>
                </tr>
                <tr class="border-top">
                    <th class="text-900">Total:</th>
                    <td class="fw-semi-bold">$6541.50</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}